<div class="cart">
  <h3>Cart</h3>
  <app-booking-list
    [bookingList]="bookingList"
    [editable]="true"
  ></app-booking-list>
  <div class="actions">
    <button tuiButton appearance="outline" size="m" routerLink="/">
      + add new trip
    </button>

    <form [formGroup]="promo" size="m" class="promo">
      <tui-input formControlName="promo">
        Enter promo code
        <input tuiTextfield type="text" />
      </tui-input>
      <button tuiButton>Apply</button>
    </form>

    <button tuiButton>Payment</button>
  </div>
</div>
