header {
  position: fixed;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  img {
    height: 60px;
  }
}

form {
  display: flex;
  width: 25%;
  .select {
    width: 50%;
  }
}

.progress-bar {
  width: 50%;
}
