<header>
  <div class="logo">
    <img src="../../../../../assets/svg/logo.svg" />
    <h1>Airways</h1>
  </div>
  <app-progress-bar class="progress-bar"></app-progress-bar>
  <form class="b-form" [formGroup]="headerSettingsForm">
    <tui-select
      formControlName="dateFormat"
      class="select"
      (tuiValueChanges)="changeDateFormat()"
    >
      Date Format
      <input tuiTextfield placeholder="Date Format" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="dateFormats"
      ></tui-data-list-wrapper>
    </tui-select>

    <tui-select
      formControlName="currency"
      class="select"
      (tuiValueChanges)="changeCurrency()"
    >
      Cyrrency
      <input tuiTextfield placeholder="Currency" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="currencies"
      ></tui-data-list-wrapper>
    </tui-select>
  </form>
  <button tuiButton>Sign In</button>
  <button tuiButton>
    <tui-svg src="tuiIconShoppingCartLarge"></tui-svg>
  </button>
</header>
