<header>
  <div class="logo">
    <img src="../../../../../assets/svg/logo.svg" alt="logo" />
    <h1>Airways</h1>
  </div>
  <app-progress-bar class="progress-bar"></app-progress-bar>
  <form
    class="b-form settings-form"
    [formGroup]="headerSettingsForm"
    #element="elementRef"
    tuiElement
  >
    <tui-select
      formControlName="dateFormat"
      class="select__date"
      (tuiValueChanges)="changeDateFormat()"
      tuiTextfieldSize="m"
    >
      Date Format
      <input tuiTextfield placeholder="Date Format" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="dateFormats"
      ></tui-data-list-wrapper>
    </tui-select>

    <tui-select
      formControlName="currency"
      class="select__currency"
      (tuiValueChanges)="changeCurrency()"
      tuiTextfieldSize="m"
    >
      Currency
      <input tuiTextfield placeholder="Currency" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="currencies"
      ></tui-data-list-wrapper>
    </tui-select>
    <button tuiButton class="settings" (click)="showSettings(element)" size="m">
      Settings
    </button>
    <button
      tuiButton
      appearance="outline"
      size="m"
      iconRight="tuiIconUser"
      (click)="showAuth()"
    >
      Sign In
    </button>
    <button tuiButton appearance="outline" size="m" routerLink="/cart">
      <tui-svg src="tuiIconShoppingCartLarge"></tui-svg>
    </button>
  </form>
</header>
