<div class="way">
  <img [src]="setImage(true)" alt="" />
  <h2>{{ from.concat(" to ", to) }}</h2>
</div>
<div tuiCarouselButtons class="wrapper" [style.--tui-carousel-padding]="'5px 0'">
  <button
    tuiIconButton
    icon="tuiIconChevronLeft"
    title="Previous"
    type="button"
    size="xs"
    class="left"
    (click)="carousel.prev()"
  ></button>

  <tui-carousel #carousel class="carousel" [itemsCount]="5">
    <ng-container *ngFor="let item of ['1100', '1200', '100', '200', '300']">
      <tui-island *tuiItem [hoverable]="true" size="m" [class]="['1100', '1200', '100', '200', '300'].indexOf(item) === 2 ? 'card active' : 'card'">
        <p [class]="['1100', '1200', '100', '200', '300'].indexOf(item) === 2 ? 'tui-text_h6' : 'tui-text_body-s blue-color-text'">01 Mar</p>
        <p [class]="['1100', '1200', '100', '200', '300'].indexOf(item) === 2 ? 'tui-text_body-m-2 second-color' : 'tui-text_body-xs second-color'">Wednesday</p>
        <h2 [class]="['1100', '1200', '100', '200', '300'].indexOf(item) === 2 ?'tui-text_h4' : 'tui-text_body-xl red-color'">{{ "€".concat(item) }}</h2>
      </tui-island>
    </ng-container>
  </tui-carousel>

  <button
    tuiIconButton
    type="button"
    icon="tuiIconChevronRight"
    title="Next"
    size="xs"
    class="right"
    (click)="carousel.next()"
  ></button>
</div>

<div class="container">
  <div class="departure-time">
    <p class="tui-text_body-m-2 second-color">Wed, 1 Mar 2023</p>
    <span>
      <h3 class="tui-text_h4">8:40</h3>
      <p class="second-color">UTC +0</p>
    </span>
    <p class="tui-text_body-xs second-color">Dublin</p>
  </div>
  <div class="flying-time">
    <div class="horizontal-line"></div>
    <div class="time">
      <p class="tui-text_body-xs">2h 50m</p>
      <img [src]="setImage(false)" alt="flying"/>
      <p class="tui-text_body-xs">Direct</p>
    </div>
  </div>
  <div class="arrival-time">
    <p class="tui-text_body-m-2 second-color" >Wed, 1 Mar 2023</p>
    <span>
      <h3 class="tui-text_h4">8:40</h3>
      <p class="second-color">UTC +0</p>
    </span>
    <p class="tui-text_body-xs second-color">Dublin</p>
  </div>
  <p class="tui-text_body-s second-color" style="width: 60px">Flight no.</p>
  <p class="tui-text_body-s" style="width: 55px">FR 1925</p>
  <div class="line"></div>
  <div class="price-warning">
    <div class="warning">
      <p class="tui-text_body-xs seats">100 seats available</p>
      <div class="price">
        <p class="tui-text_body-xs">Price</p>
        <h3 class="tui-text_h4 second-color">€146.70</h3>
      </div>
    </div>
    <button tuiButton appearance="accent" size="m">Select</button>
  </div>
</div>
