<div class="wrapper">
  <h2 class="second-menu__from tui-text_h6">Dublin</h2>
  <img src="assets/return_trip_24.svg" alt="return-trip" />
  <h2 class="second-menu__to tui-text_h6">Warsaw Modlin</h2>
  <p class="tui-text_body-s-2">Return</p>
  <span></span>
  <p class="tui-text_body-s-2">1 Mar - 18 Mar</p>
  <span></span>
  <p class="tui-text_body-s-2">3</p>
  <img src="assets/account_24px.svg" alt="account-icon" />
  <button
    tuiButton
    type="button"
    appearance="flat"
    size="m"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="isOpen"
    (tuiObscured)="onObscured($event)"
    (click)="onClick()"
  >
    Edit
  </button>
  <ng-template #dropdownContent>
    <div id="second-menu__content">
      <form [formGroup]="secondMenuForm">
        <tui-input [formControl]="secondMenuForm.controls.from">
          From
          <ng-container *ngIf="accounts?.length">
            <tui-data-list *tuiDataList>
              <span>fsdfsd</span>
            </tui-data-list>
          </ng-container>
        </tui-input>
        <tui-input [formControl]="secondMenuForm.controls.to">
          To
          <ng-container *ngIf="accounts?.length">
            <tui-data-list *tuiDataList>
              <span>fsdfsd</span>
            </tui-data-list>
          </ng-container>
        </tui-input>
        <tui-input-date-range
          tuiUnfinishedValidator="Finish filling the field"
          formControlName="dates"
        >
          Choose dates
          <input tuiTextfield placeholder="From - To" />
        </tui-input-date-range>
      </form>
    </div>
  </ng-template>
</div>
