<div class="wrapper">
  <p>© 2023, AIRWAY. All rights reserved.</p>
  <p>We accept these payment methods</p>
  <span class="payments">
    <tui-card size="s" paymentSystem="mir" class="logo"></tui-card>
    <tui-card size="s" paymentSystem="visa" class="logo"></tui-card>
    <tui-card size="s" paymentSystem="electron" class="logo"></tui-card>
    <tui-card size="s" paymentSystem="maestro" class="logo"></tui-card>
    <tui-card size="s" paymentSystem="mastercard" class="logo"></tui-card>
  </span>
</div>
