@import "@taiga-ui/core/styles/taiga-ui-local.scss";

:host {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--tui-padding-l);
  background-color: var(--tui-base-03);
  position: sticky;
  position: -webkit-sticky;
  top: calc(100vh - 92px);
  text-align: center;

  p {
    margin: 0;
  }

  .wrapper {
    display: flex;
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
    gap: 5px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @media #{$tui-mobile} {
      flex-direction: column;
    }

    span {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      column-gap: 8px;

      &>p {
        margin-right: 16px;
      }

      .logo {
        color: #fff;
        background-color: #7c48c3;
        background-image: linear-gradient(45deg, #c86dd7 0%, #3023ae 100%);
        animation: spinCard 5s infinite;
      }
    }
  }

}
