<ng-container [formGroup]="form">
  <div formGroupName="tripType" tuiGroup class="trip-type">
    <tui-radio-labeled
      formControlName="type"
      size="m"
      class="tui-space_bottom-5 tui-group__auto-width-item"
      [item]="tripTypes.round"
    >
      {{ tripTypes.round }}
    </tui-radio-labeled>
    <tui-radio-labeled
      formControlName="type"
      size="m"
      class="tui-space_bottom-5 tui-group__auto-width-item"
      [item]="tripTypes.oneWay"
    >
      {{ tripTypes.oneWay }}
    </tui-radio-labeled>
  </div>
</ng-container>
