<div class="wrapper">
  <h2 class="second-menu__from tui-text_h6">
    {{ secondMenuForm.controls.from.value }}
  </h2>
  <img src="../../../../assets/return_trip_24.svg" alt="return-trip" />
  <h2 class="second-menu__to tui-text_h6">
    {{ secondMenuForm.controls.to.value }}
  </h2>
  <p class="tui-text_body-s-2">Return</p>
  <span></span>
  <p class="tui-text_body-s-2" [textContent]="getDate()"></p>
  <span></span>
  <p class="tui-text_body-s-2">{{ adults + infants + child }}</p>
  <img src="../../../../assets/account_24px.svg" alt="account-icon" />
  <button
    tuiButton
    type="button"
    appearance="flat"
    size="m"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="isOpen"
    (click)="onClick()"
  >
    {{ isOpen ? "Save" : "Edit" }}
  </button>
  <ng-template #dropdownContent>
    <div id="second-menu__content">
      <form [formGroup]="secondMenuForm">
        <tui-input
          [tuiTextfieldSize]="'m'"
          [formControl]="secondMenuForm.controls.from"
          *tuiLet="airports$ | async as airports"
          (input)="filter(secondMenuForm.controls.from)"
        >
          From
          <ng-container *ngIf="airports?.length">
            <tui-data-list *tuiDataList>
              <button
                class="airport_select"
                *ngFor="let airport of airports"
                tuiOption
                [value]="airport.city.concat(' ', airport.ICAO)"
              >
                <p class="airport_select__first-row">
                  {{ airport.city.concat("(", airport.ICAO, ")") }}
                </p>
                <p class="airport_select__second-row">
                  {{ airport.name.concat(", ", airport.country) }}
                </p>
              </button>
            </tui-data-list>
          </ng-container>
        </tui-input>
        <tui-input
          [tuiTextfieldSize]="'m'"
          [formControl]="secondMenuForm.controls.to"
          *tuiLet="airports$ | async as airports"
          (input)="filter(secondMenuForm.controls.to)"
        >
          To
          <ng-container *ngIf="airports?.length">
            <tui-data-list *tuiDataList>
              <button
                class="airport_select"
                *ngFor="let airport of airports"
                tuiOption
                [value]="airport.city.concat(' ', airport.ICAO)"
              >
                <p class="airport_select__first-row">
                  {{ airport.city.concat("(", airport.ICAO, ")") }}
                </p>
                <p class="airport_select__second-row">
                  {{ airport.name.concat(", ", airport.country) }}
                </p>
              </button>
            </tui-data-list>
          </ng-container>
        </tui-input>
        <tui-input-date-range
          [tuiTextfieldSize]="'m'"
          tuiUnfinishedValidator="Finish filling the field"
          formControlName="dates"
        >
          Choose dates
          <input tuiTextfield placeholder="From - To" />
        </tui-input-date-range>
        <tui-select
          [formGroup]="secondMenuForm.controls.passengers"
          class="passengers_select"
          [tuiTextfieldLabelOutside]="true"
          tuiTextfieldSize="m"
        >
          {{
            adults
              .toString()
              .concat(
                " Adult, ",
                child.toString(),
                " Child, ",
                infants.toString(),
                " Infant"
              )
          }}
          <input
            tuiTextfield
            [placeholder]="
              adults
                .toString()
                .concat(
                  ' Adult, ',
                  child.toString(),
                  ' Child, ',
                  infants.toString(),
                  ' Infant'
                )
            "
          />
          <ng-template tuiDataList>
            <label class="label">
              <span class="col">
                <span>Adults</span>
                <span class="span">14+ years</span>
              </span>
              <tui-input-count
                class="count"
                formControlName="adults"
                tuiTextfieldSize="m"
                [(ngModel)]="adults"
                [min]="0"
              >
                Adults
              </tui-input-count>
            </label>
            <label class="label">
              <span class="col">
                <span>Child</span>
                <span class="span">2-14 years</span>
              </span>
              <tui-input-count
                class="count"
                formControlName="child"
                tuiTextfieldSize="m"
                [(ngModel)]="child"
                [min]="0"
              >
                Child
              </tui-input-count>
            </label>
            <label class="label">
              <span class="col">
                <span>Infant</span>
                <span class="span">0-2 years</span>
              </span>
              <tui-input-count
                class="count"
                formControlName="infants"
                tuiTextfieldSize="m"
                [(ngModel)]="infants"
                [min]="0"
              >
                Infants
              </tui-input-count>
            </label>
          </ng-template>
        </tui-select>
      </form>
    </div>
  </ng-template>
</div>
