@import "@taiga-ui/core/styles/taiga-ui-local.scss";

:host {
  display: contents;
}

.flight-search {
  @include shadow(3);
  width: 50%;
  max-width: 580px;
  margin: 62px auto auto auto;
  background-color: var(--tui-base-03);
  border-radius: 8px;
  padding: 24px;
  row-gap: 8px;

  .row {
    display: flex;
    width: 100%;
  }

  .button {
    display: flex;
    width: 120px;
    margin: 32px 0 0 auto;
  }

  @media #{$tui-tablet} {
    margin: 50px auto;
    min-width: 360px;
    width: 80%;
  }
<<<<<<< HEAD

=======
>>>>>>> origin/develop
  @media #{$tui-mobile} {
    margin: 100px auto;
    min-width: 300px;
    width: 90%;
  }
<<<<<<< HEAD
=======

  .header {
    text-align: center;
  }
  border-radius: 25px;
  padding: 20px 20px;
  .form-field {
    margin: 20px 0;
  }
  .button {
    width: 50%;
    margin: 20px 25%;
  }
>>>>>>> origin/develop
}
