<ng-container [formGroup]="form" class="host">
  <tui-select
    formGroupName="passengers"
    class="passengers_select"
    [tuiTextfieldLabelOutside]="true"
    tuiTextfieldSize="m"
  >
    Passengers
    <ng-template tuiDataList>
      <tui-input-count
        formControlName="adults"
        [min]="0"
        [max]="100"
        class="tui-group__inherit-item"
        tuiTextfieldSize="m"
      >
        Adults
      </tui-input-count>
      <tui-input-count
        formControlName="child"
        [min]="0"
        [max]="100"
        class="tui-group__inherit-item"
        tuiTextfieldSize="m"
      >
        Child
      </tui-input-count>
      <tui-input-count
        formControlName="infant"
        [min]="0"
        [max]="100"
        class="tui-group__inherit-item"
        tuiTextfieldSize="m"
      >
        Infant
      </tui-input-count>
    </ng-template>
  </tui-select>
</ng-container>
