<div *tuiPortal="isOpen" class="auth-overlay">
  <div class="auth-content">
    <div tuiGroup class="auth-buttons">
      <button tuiButton type="button" appearance="flat" class="auth-button" [pseudoActive]="true">
        Log in
      </button>
      <button tuiButton type="button" appearance="flat" class="auth-button">
        Sign up
      </button>
    </div>
    <div class="auth-social-buttons">
      <button tuiButton type="button" appearance="outline" [icon]="gIcon">
        Continue with Google
      </button>
      <button tuiButton type="button" appearance="outline" [icon]="fIcon">
        Continue with Facebook
      </button>
    </div>
    <p class="auth-divider">or log in with your email</p>
    <div class="auth-change">
      <!-- <app-login></app-login> -->
      <app-registration></app-registration>
    </div>
  </div>
</div>
