@import '@taiga-ui/core/styles/taiga-ui-local.scss';


.auth {
  &-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    padding: var(--tui-padding-l);
    max-width: 400px;
    width: 100%;
    background: var(--tui-base-01);
    border-radius: var(--tui-radius-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-switch {
    width: calc(100% - 80px);
  }


  &-social {
    &-buttons {
      margin-top: 36px;

      button {
        background: var(--tui-base-02);
        width: 100%;
        margin-top: 16px;
      }
    }
  }

  &-divider {
    font: var(--tui-font-text-s-2);
    margin-top: 32px;
  }

  &-change {
    width: 100%;
  }

}

[tuiWrapper][data-appearance='custom'] {
  background: #fff;

  .wrapper-disabled {
    background: #eaecee;
  }

  ;
}
