<div class="auth-overlay">
  <div class="auth-content">
    <div class="auth-buttons">
      <button tuiButton type="button" appearance="flat" size="m" [pseudoActive]="true">
        Log in
      </button>
      <button tuiButton type="button" appearance="flat" size="m">
        Sign up
      </button>
    </div>
    <div class="auth-social-buttons">
      <button tuiButton type="button" appearance="outline" size="l" [icon]="gIcon">
        Continue with Google
      </button>
      <button tuiButton type="button" appearance="outline" size="l" [icon]="fIcon">
        Continue with Facebook
      </button>
    </div>
    <p class="auth-divider">or log in with your email</p>
    <div class="auth-change">
      <!-- <app-login></app-login> -->
      <app-registration></app-registration>
    </div>
  </div>
</div>
